.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
}

.intro,
.introTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.button {
  border-radius: 12px;
  height: 48px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  font-weight: 500;
  font-size: 20px;
  background: var(--foreground);
  color: var(--background);
}
