.page {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 48px;
  padding: 0 20px;
  margin: 20px 0;
  overflow-y: auto;
}

.search {
  display: flex;
  gap: 16px;
}

.search input,
.search select {
  height: 32px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 6px;
}

.search input {
  padding: 12px;
}

.search select {
  padding: 0 8px;
}

.sidebarContent {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar div {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 82vh;
  margin: 12px 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  margin: 0;
  padding: 0;
}

.leadsTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 12px;
  border-style: hidden;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.2);
  font-size: 18px;
}

.leadsTable td,
.leadsTable th {
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.leadsTable td,
.leadsTable th {
  padding: 12px 16px;
}

.leadsTable button {
  color: var(--foreground);
  background: var(--background);
  border: none;
}
